.jumbotron h2{
    text-align: center;
}
.row{
    margin-top: 50px;
}
.row .col-lg-4{
    font-size:18px;
    margin-bottom: 30px;
    text-align: center;
}
.confirmed{
    color: red;
}
.recovered{
    color: green;
}
.critical{
    color:orange;
}
.deaths{
    color: black;
}
.container h2 img{
    width: 64px;
}
table{
    width: 100%;
}
input[type="button"]{
    outline:none;
 }
 input[type="button"]::-moz-focus-inner {
    border: 0;
 }
.table td,.table th{     
     padding-left: 10;
 }
form button{
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
}
form button:hover{
    color: cadetblue;
}
form button:focus{
    outline: none;
}
form button img{
    width: 32px;
}
.ccode{
    display: none;
}
@media(max-width:767px){
    .jumbotron+.jumbotron{
        padding: 0;
    }
    .ccode{
        display: inline;
    }
    .cname{
        display: none;
    }
}