.jumbotron h2{
    text-align: center;
}
.row{
    margin-top: 50px;
}
.row .col-lg-4{
    font-size:18px;
    margin-bottom: 30px;
    text-align: center;
}
.confirmed{
    color: red;
}
.recovered{
    color: green;
}
.critical{
    color:orange;
}
.deaths{
    color: black;
}
.container h2 img{
    width: 64px;
}
table{
    width: 100%;
}
td{
    width: 25%;
}
input[type="button"]{
    outline:none;
 }
 input[type="button"]::-moz-focus-inner {
    border: 0;
 }
form button{
    border: none;
    background-color: transparent;
    outline: none;
}
form button:hover{
    color: cadetblue;
}
form button:focus{
    outline: none;
}